{% extends 'base.html' %}
{% block content %}
  <h1>Tytuły książek</h1>
  {% for book in books %}
    <div class="row">
      <div class="col-md-2"><a href=""> {{ book.id }} </a></div>
      <div class="col-md-6"><a href="{% url 'books:detail' book.id %}"> {{ book.title }} </a></div>
      <div class="col-md-2"> cena: {{ book.price }} </div>
      <div class="col-md-2"> raiting: {{book.rating|floatformat:"0"}} /100 </div>
    </div>
  {% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
